/* Global style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

body{
  font-family: 'Poppins', sans-serif;
}
li,
button,
label,
input,
p{
  font-size: 1rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2rem;
}
a{
  color: white;
  text-decoration: none;
}
button {
  padding: 0.5rem 2rem;
  border: none;
  color: white;
  background-color: #4c6e97 ;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
button:hover{
  background-color: #33455c ;
}

/* Nav Section */

.main-head{
  background-color: #131c27;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  display: flex;
  align-items: center;
  /* it will not decrease than 8vh */
  width: 90%;
  padding: 10px;
  margin: auto;
 
} 

nav ul {
  display: flex;
  flex-grow: 1;
  flex-basis: 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#logo {
  flex-grow: 10;
  flex-basis: 40rem;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}

/* herop section */

.hero{
  min-height: 91.7vh;
  background: linear-gradient(rgba(0,0,0,0.5),transparent),url(/img/landing-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.hero h3 {
  padding: 0 0 20px 0 ;
}

/* locations section */

#locations{
 min-height: 100vh;
 background: linear-gradient(rgba(0,0,0,0.5),transparent),url(/img/new-york-page.png);
 background-size: cover;
 background-position: center;
 display: flex;
 align-items: center;
 position: relative;
 overflow: hidden;
}
.locations-head {
  width: 90%;
  margin: auto;
}
.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 10px ;
}
.locations-head h3 {
  padding: 10px 0px;
}
.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}
.moving-cloud-1{
  animation: cloudAnimations 3s infinite alternate ease-in-out ;
}
.moving-cloud-2{
  top: 20%;
  z-index: -1;
  opacity: 0.9;
  animation: cloudAnimations 7s infinite alternate ease-in-out ;
}

@keyframes cloudAnimations{

  from{
    transform: translate(10%, -5%);
  }
  to {
     transform: translate(0%,0%);
  }
  /* 0%{
      background-color: antiquewhite;
  }
  25% {
    background-color: black;
  }
  100%{
     background-color: aqua;
  } */
}

/* benefits Section */

.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.benefits-head h3 {
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.fas{
  color: white;
  margin: 30px
}
.icon{
  background-color: #131c27;
}
.card {
  flex: 1 1 15rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 50px rgba(0,0,0,0.1),0px 10px 50px rgba(0,0,0,0.1) ;
}
.card h4 {
  padding-top: 30px;
}

/* Contact Us */

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5),transparent),url(/img/contact-mountain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  background: rgba(19,28,39,0.1);
  width: 60%;
  color: white;
  border-radius: 20px;
}
.form-head {
  text-align: center;
  padding: 30px;
}
.name-form,
.email-form {
  padding: 20px;
  text-align: center;
}
.form-wrapper label {
  margin: 0px 20px;
}
.form-wrapper button{
  width: 100%;
  margin-top: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-wrapper input {
  padding: 3px 20px;
}
footer {
  color: white;
  background: rgba(19,28,39,1);
  text-align: center;
}
.footer-wrapper{
  display: flex;
  padding: 20px;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
}
footer ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}











/* Media Queries */

@media screen and (max-width : 500px) {
  nav {
    text-align: center;
    flex-wrap: wrap;
  }
  #logo {
    padding: 10px;
  }
  .cloud {
    height: 60% ;
    pointer-events: none;
  }
  
}

@media screen and (max-width: 748px) {
  .moving-cloud-1{
    z-index: -1;
  }
  .moving-cloud-2{
    z-index: -2;
  }
  .locations-head h3{
    background-color: rgba(19,28,39,0.9);
    color: white;
  }
  
}